openapi: 3.0.3
info:
  title: VK OpenAPI
  version: 1.0.0
servers:
- url: http://vk.com
tags:
  - name: user
    description: Operations about user
paths:
  /friends/{user_id}:
    get:
      tags:
        - user
      summary: Get a list of friends of user
      operationId: getUserFriends
      parameters: 
       - name: user_id
         in: path
         required: true
         schema:
           $ref: "#/components/schemas/UserId"
      responses:
        '200':
          description: Successful response with friends list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Friends"
        '404':
          description: User not found
        '500':
          description: Internal server error or database unavailable
        '503':
          description: Service unavailable
          
  /friends/{user_id}&FriendId={friend_id}:
    post:
      tags:
        - user
      summary: Add new user to a friends list
      operationId: addFriend
      parameters: 
       - name: user_id
         in: path
         required: true
         schema:
           $ref: "#/components/schemas/UserId"
       - name: friend_id
         in: path
         required: true
         schema:
           $ref: "#/components/schemas/UserId"
      responses:
        '200':
          description: Successful response
        '400':
          description: Incorrect friend ID
        '404':
          description: User not found
        '500':
          description: Internal server error or database unavailable
        '503':
          description: Service unavailable
    delete:
      tags:
        - user
      summary: Add new user to a friends list
      operationId: deleteFriend
      parameters: 
       - name: user_id
         in: path
         required: true
         schema:
           $ref: "#/components/schemas/UserId"
       - name: friend_id
         in: path
         required: true
         schema:
           $ref: "#/components/schemas/UserId"
      responses:
        '200':
          description: Successful response
        '400':
          description: Incorrect friend ID
        '404':
          description: User not found
        '500':
          description: Internal server error or database unavailable
        '503':
          description: Service unavailable
  /profile/{user_id}:
    get:
      tags:
        - user
      summary: Get a user profile
      operationId: getUserProfile
      parameters: 
       - name: user_id
         in: path
         required: true
         schema:
           $ref: "#/components/schemas/UserId"
      responses:
        '200':
          description: Successful response with user profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        '404':
          description: User not found
        '500':
          description: Internal server error or database unavailable
        '503':
          description: Service unavailable
          
  /timeline/{user_id}:
    get:
      tags:
        - user
      summary: Get user timeline
      operationId: getUserTimeline
      parameters: 
       - name: user_id
         in: path
         required: true
         schema:
           $ref: "#/components/schemas/UserId"
      responses:
        '200':
          description: Successful response with user timeline
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Timeline"
        '404':
          description: User not found
        '500':
          description: Internal server error or database unavailable
        '503':
          description: Service unavailable
    post:
      tags:
        - user
      summary: Add post to user timeline
      operationId: addPostToUserTimeline
      parameters: 
       - name: user_id
         in: path
         required: true
         schema:
           $ref: "#/components/schemas/UserId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostData"
      responses:
        '200':
          description: Successful response with added post
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Post"
        '404':
          description: User not found
        '500':
          description: Internal server error or database unavailable
        '503':
          description: Service unavailable
  /media/{user_id}:
    post:
      tags:
        - user
      summary: Add media file
      operationId: addMedia
      parameters: 
       - name: user_id
         in: path
         required: true
         schema:
           $ref: "#/components/schemas/UserId"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  type: array
                  items: 
                    $ref: "#/components/schemas/MediaFile"
      responses:
        '200':
          description: Successful response with reference list to added media files
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Links"
        '404':
          description: User not found
        '415':
          description: Media type not allowed
        '500':
          description: Internal server error or database unavailable
        '503':
          description: Service unavailable
        '507':
          description: File too large
          
  /messages/id{user_id}&DialogType={dialog_type}&Id={dest_id}&BeginMsgId={msg_id}:
    get:
      tags:
        - user
      summary: Get messages from user/user group dialog
      operationId: getMessages
      parameters: 
       - name: user_id
         in: path
         required: true
         schema:
           $ref: "#/components/schemas/UserId"
       - name: dialog_type
         in: path
         required: true
         schema:
           $ref: "#/components/schemas/DialogType"
       - name: dest_id
         in: path
         required: true
         description: dialog_type ID
         schema:
           $ref: "#/components/schemas/Id"
       - name: msg_id
         in: path
         required: true
         description: first message ID
         schema:
           $ref: "#/components/schemas/Id"
      responses:
        '200':
          description: Successful response with requested messages
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageList"
        '400':
          description: Wrong input
        '404':
          description: User not found
        '500':
          description: Internal server error or database unavailable
        '503':
          description: Service unavailable  
                
  /messages/id{user_id}&DialogType={dialog_type}&Id={dest_id}:
    post:
      tags:
        - user
      summary: Send message to user/user group
      operationId: sendMessage
      parameters: 
       - name: user_id
         in: path
         required: true
         schema:
           $ref: "#/components/schemas/UserId"
       - name: dialog_type
         in: path
         required: true
         schema:
           $ref: "#/components/schemas/DialogType"
       - name: dest_id
         in: path
         required: true
         description: dialog_type ID
         schema:
           $ref: "#/components/schemas/Id"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MessageData"
      responses:
        '200':
          description: Successful response with sent message
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        '400':
          description: Wrong input
        '404':
          description: User not found
        '500':
          description: Internal server error or database unavailable
        '503':
          description: Service unavailable    
components:
  schemas:
    Id: 
      type: integer
      format: int64
      example: 169697570
    UserId:
      allOf:
        - $ref: "#/components/schemas/Id"
    Friends:
      type: array
      items: 
        $ref: "#/components/schemas/UserId"
    Link:
      type: string
      example: image-46453123_457262361
    Links:
      type: array
      items:
        $ref: "#/components/schemas/Link"
    DialogType:
      type: string
      enum:
       - user
       - chat
    Date:
      type: string 
      example: 25.05.2015
    MediaFile:
      type: object
      required:
       - type
       - data
      properties:
        type:
          type: string #Maybe should add enums
          example: png
        data:
          type: array
          items: {}
    MessageData:
      type: object
      required:
       - message
       - media
      properties:
        message:
         type: string
         example: hello world
        media:
         type: array
         items:
           $ref: "#/components/schemas/Link"
    Message:
      type: object
      required:
       - id
       - handlerId
       - date
       - postData
      properties:
        id:
         allOf:
           - $ref: "#/components/schemas/Id"
        handlerId:
         allOf:
           - $ref: "#/components/schemas/UserId"
        date:
         allOf:
           - $ref: "#/components/schemas/Date"
        postData:
         allOf:
           - $ref: "#/components/schemas/MessageData"
    MessageList:
      type: array
      items:
        $ref: "#/components/schemas/Message"
    PostData:
      type: object
      required:
       - message
       - media
      properties:
        message:
         type: string
         example: hello world
        media:
         type: array
         items:
           $ref: "#/components/schemas/Link"
    Post:
      type: object
      required:
       - id
       - handlerId
       - date
       - postData
      properties:
        id:
         allOf:
           - $ref: "#/components/schemas/Id"
        handlerId:
         allOf:
           - $ref: "#/components/schemas/UserId"
        date:
         allOf:
           - $ref: "#/components/schemas/Date"
        postData:
         allOf:
           - $ref: "#/components/schemas/PostData"
    PostList:
      type: array
      items:
        $ref: "#/components/schemas/Post"
    Timeline:
      type: array
      items:
        $ref: "#/components/schemas/Post"
    User:
      type: object
      required:
         - id
         - first_name
         - last_name
         - regDate
         - friends
         - timeline
      properties:
        id:
         allOf:
           - $ref: "#/components/schemas/UserId"
        first_name:
         type: string
         example: "John"
        last_name:
         type: string
         example: "Smith"
        regDate:
         allOf:
           - $ref: "#/components/schemas/UserId"
        friends:
         allOf:
           - $ref: "#/components/schemas/Friends"
        timeline:
         allOf:
           - $ref: "#/components/schemas/Timeline"

         
